@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
}
.custom_text_gradient {
  background: linear-gradient(to right, #03bcce, #3d6be1, #7b2ae8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bg-primary {
  background: linear-gradient(
    170deg,
    rgba(3, 188, 206, 1) 0%,
    rgba(61, 107, 225, 1) 45%,
    rgba(123, 42, 232, 1) 100%
  );
}
